<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
<rabbit:connection-factory id="connectionFactory" host="127.0.0.1" port="5672" username="guest" password="guest"></rabbit:connection-factory>
<bean id="SmsMessageConsumer" class="com.qingcheng.consumer.SmsMessageConsumer"></bean>
    <rabbit:queue name="queue.sms"></rabbit:queue>
    <rabbit:listener-container connection-factory="connectionFactory" >
        <rabbit:listener queue-names="queue.sms" ref="connectionFactory"></rabbit:listener>
    </rabbit:listener-container>
</beans>