<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
<http pattern="/css/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/login.html" security="none"></http>
    <http pattern="/favicon.ico" security="none"></http>
<http>
    <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>
    <form-login login-page="/login.html" default-target-url="/main.html" authentication-failure-url="/login.html"></form-login>
    <logout></logout>
    <csrf disabled="true"></csrf>
    <headers>
        <frame-options policy="SAMEORIGIN"></frame-options>
    </headers>
</http>
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailService">
            <password-encoder ref="bCryptPasswordEncoder"></password-encoder>

        </authentication-provider>
    </authentication-manager>
    <beans:bean id="userDetailService" class="com.qingcheng.controller.user.UserDetailServiceImpl"></beans:bean>
    <beans:bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>
</beans:beans>
